<% if current_user.id == content.user_id || content.release_id == 1%>
  <div class="main-content">
    <div class="main-content-upper">
      <div class="main-content-upper-nickname">
        <%= link_to content.user.nickname, user_path(content.user) %>
      </div>
      <div class="main-content-upper-username">
        <%= link_to "@#{content.user.user_name}", user_path(content.user) %>
      </div>
      <div class="main-content-upper-date">
        <%= "•#{content_time(content.created_at)}" %>
      </div>
    </div>
    <div class="main-content-center">
      <div class="main-content-center-list main-content-center-release">
        <% if content.release.id == 1 %>
          <i class="fa fa-lock-open fa-fw"></i>
        <% else %>
          <i class="fa fa-lock fa-fw"></i>
        <% end %>
      </div>
      <% if content.grade.id == 2 %>
        <div class="main-content-center-list main-content-center-grade" style="border: 2px solid navy; background-color: white; color: black;">
      <% elsif content.grade.id == 3 %>
        <div class="main-content-center-list main-content-center-grade" style="border: 2px solid green; background-color: white; color: black;">
      <% elsif content.grade.id == 4 %>
        <div class="main-content-center-list main-content-center-grade" style="border: 2px solid orange; background-color: white; color: black;">
      <% elsif content.grade.id == 5 %>
        <div class="main-content-center-list main-content-center-grade" style="border: 2px solid #FF66FF; background-color: white; color: black;">
      <% elsif content.grade.id == 6 %>
        <div class="main-content-center-list main-content-center-grade" style="border: 2px solid purple; background-color: white; color: black;">
      <% else %>
        <div class="main-content-center-list main-content-center-grade" style="border: 2px solid maroon; background-color: white; color: black;">
      <% end %>
        <%= content.grade.name %>
      </div>
      <% if content.subject.id == 2 %>
        <div class="main-content-center-list main-content-center-subject" style="border: 2px solid maroon; background-color: maroon;">
      <% elsif content.subject.id == 3 %>
        <div class="main-content-center-list main-content-center-subject" style="border: 2px solid navy; background-color: navy;">
      <% elsif content.subject.id == 4 %>
        <div class="main-content-center-list main-content-center-subject" style="border: 2px solid orange; background-color: orange;">
      <% elsif content.subject.id == 5 %>
        <div class="main-content-center-list main-content-center-subject" style="border: 2px solid green; background-color: green;">
      <% else %>
        <div class="main-content-center-list main-content-center-subject" style="border: 2px solid #FF66FF; background-color: #FF66FF;">
      <% end %>
        <%= content.subject.name %>
      </div>
      <div class="main-content-center-list main-content-center-category" style="background-color: #FFFFFF; color: #333;">
        <%= content.category %>
      </div>
    </div>
    <div class="main-content-question">
      <%= link_to content_path(content) do %>
        <%= content.question %>
      <% end %>
    </div>
    <div class="main-content-lower">
      <div class="main-content-lower-answer">
        <div id="answers-button<%= content.id %>">
          <%= render partial: "answers/answer", locals: { content: content, answer: @answer } %>
        </div>
      </div>
      <div class="main-content-lower-try">
        <div id="tries-button<%= content.id %>">
          <%= render partial: "tries/try", locals: { content: content, try: @try } %>
        </div>
      </div>
    </div>
  </div>
<% end %>