<div class="header">
  <div class="header-left">
    <%= link_to root_path do %>
      Co-Garden<span><i class="fa fa-leaf fa-fw"></i></span>
    <% end %>
  </div>
  <div class="header-right">
    <div class="header-right-menu home-icon">
      <%= link_to root_path do %>
        <i class="fa fa-home fa-fw"></i>
      <% end %>
    </div>
    <div class="header-right-menu thumbtack-icon">
      <%= link_to root_path do %>
        <i class="fa fa-thumbtack fa-fw"></i>
      <% end %>
    </div>
    <div class="header-right-menu search-icon">
      <%= link_to search_contents_path do %>
        <i class="fa fa-search fa-fw"></i>
      <% end %>
    </div>
    <div class="header-right-menu friends-icon">
      <%= link_to following_relationship_path(current_user) do %>
        <i class="fa fa-user-friends fa-fw"></i>
      <% end %>
    </div>
    <div class="header-right-menu user-icon">
      <i class="fa fa-user fa-fw"></i>
      <div class="user-icon-menu">
        <div class="user-icon-menu-profile">
          <%= link_to current_user.nickname, user_path(current_user) %>
        </div>
        <div class="user-icon-menu-logout">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>