<header>
  <%= render "header" %>
</header>
<div class="wrapper">
  <div class="main">
    <div class="main-header">
      <div class="main-header-left">
        <%= link_to "マイコンテンツ", root_path %>
      </div>
      <div class="main-header-right">
        <%= link_to "トライコンテンツ", root_path%>
      </div>
    </div>
    <div class="main-search">
      <div class="main-search-container">
        <div class="main-search-grade">
          学年
        </div>
        <div class="main-search-subject">
          教科
        </div>
        <div class="main-search-category">
          カテゴリー
        </div>
      </div>
    </div>
    <div class="main-contents">
      <div class="main-contents-upper">
        <div class="main-contents-upper-nickname">
          <%= link_to "ニックネーム", root_path %>
        </div>
        <div class="main-contents-upper-username">
          <%= link_to "@user-name", root_path %>
        </div>
        <div class="main-contents-upper-date">
          •2021年2月1日
        </div>
      </div>
      <div class="main-contents-center">
        <div class="main-contents-center-list main-contents-center-release">
          <i class="fa fa-lock fa-fw"></i>
        </div>
        <div class="main-contents-center-list main-contents-center-grade">
          学年
        </div>
        <div class="main-contents-center-list main-contents-center-subject">
          教科
        </div>
        <div class="main-contents-center-list main-contents-center-category">
          カテゴリー
        </div>
      </div>
      <div class="main-contents-question">
        <%= link_to root_path do %>
          問題です<br>
          問題です<br>
          問題です<br>
          問題です<br>
        <% end %>
      </div>
      <div class="main-contents-lower">
        <div class="main-contents-lower-answer">
          <i class="fa fa-check fa-fw"></i>未回答
        </div>
        <div class="main-contents-lower-try">
          <i class="fa fa-thumbtack fa-fw"></i>トライする(10人がトライ)
        </div>
      </div>
    </div>
  </div>
</div>