<header>
  <%= render "header" %>
</header>
<div class="wrapper">
  <div class="content-show">
    <div class="content-show-upper">
      <div class="content-show-nickname">
        <%= link_to @content.user.nickname, user_path(@content.user) %>
      </div>
      <div class="content-show-upper-right">
        <% if current_user.id == @content.user_id %>
          <div class="content-show-upper-right-icon">
            <i class="fa fa-ellipsis-h fa-fw"></i>
            <div class="content-show-upper-right-menu">
              <div class="content-show-edit-btn">
                <%= link_to edit_content_path(@content) do %>
                  <i class="fa fa-wrench fa-fw"></i>&nbsp;&nbsp;編集する
                <% end %>
              </div>
              <div class="content-delete-open">
                <i class="fa fa-trash-alt fa-fw"></i>&nbsp;&nbsp;削除する
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="content-delete-modal">
      <div class="content-delete-container">
        <div class="content-delete-sentence">
          本当に削除しますか？
        </div>
        <div class="content-delete-btn">
          <div class="content-delete-cancel">
            キャンセル
          </div>
          <div class="content-delete-action">
            <%= link_to content_path(@content), method: :delete do %>
              <i class="fa fa-trash-alt fa-fw"></i>&nbsp;&nbsp;削除する
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="content-show-username">
      <%= link_to "@#{@content.user.user_name}", user_path(@content.user) %>
    </div>
    <div class="content-show-center">
      <div class="content-show-center-list content-show-release">
        <% if @content.release.id == 1 %>
          <i class="fa fa-lock-open fa-fw"></i>
        <% else %>
          <i class="fa fa-lock fa-fw"></i>
        <% end %>
      </div>
      <div class="content-show-center-list content-show-grade">
        <%= @content.grade.name %>
      </div>
      <div class="content-show-center-list content-show-subject">
        <%= @content.subject.name %>
      </div>
      <div class="content-show-center-list content-show-category">
        <%= @content.category %>
      </div>
    </div>
    <div class="content-show-date">
        <%= l @content.created_at, format: :long %>
    </div>
    <div class="content-show-main">
      <div class="content-show-main-title">
        問　題
      </div>
      <div class="content-show-question">
        <%= @content.question %>
      </div>
      <div class="content-show-answer-open">
        答えを見る
      </div>
      <div class="content-show-answer-modal">
        <div class="content-show-main-title">
          答　え
        </div>
        <div class="content-show-answer">
          <%= @content.answer %>
        </div>
        <div class="content-show-main-title">
          解　説
        </div>
        <div class="content-show-explanation">
          <%= @content.explanation %>
        </div>
      </div>
    </div>
    <div class="content-show-lower">
      <div class="content-show-lower-answer">
        <div id="answers-button<%= @content.id %>">
          <%= render partial: "answers/answer", locals: { content: @content, answer: @answer } %>
        </div>
      </div>
      <div class="content-show-lower-try">
        <div id="tries-button<%= @content.id %>">
          <%= render partial: "tries/try", locals: { content: @content, try: @try } %>
        </div>
      </div>
    </div>
    <div class="content-show-comment">
      <div class="content-show-comment-open">
        コメントを見る
      </div>
      <div class="content-show-comment-container">
        <div class="comment-create">
          <%= render partial: "comments/form", locals: { comment: @comment, content: @content } %>
        </div>
        <div id="comments_area">
          <%= render partial: "comments/index", locals: { comments: @comments } %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="post">
  <%= render "post" %>
</div>