<header class="try-header">
  <%= render "contents/header" %>
</header>
<div class="wrapper trycontents">
  <div class="main">
    <div class="main-header">
    <div class="main-header-left">
      <%= link_to "マイコンテンツ", root_path %>
    </div>
    <div class="main-header-right">
      <%= link_to "トライコンテンツ", content_tries_path(:id) %>
    </div>
  </div>
  <%= search_form_for @q, url: content_tries_path do |f| %>
    <%= render partial: "contents/search", locals: { f: f } %>
    <% if @trycontents.present? %>
      <div class="main-contents">
        <%= render partial: "contents/content", collection: @trycontents %>
      </div>
    <% else %>
      <div class="content-empty-message">
        一致するコンテンツがありません。
      </div>
    <% end %>
  <% end %>
  </div>
</div>
<div class="post">
  <%= render "contents/post" %>
</div>