<div class="account-page">
  <div class="account-page-upper">
    <div class="account-page-title">
      Co-Garden<span><i class="fa fa-leaf fa-fw"></i></span>
    </div>
    <%= form_with model: @user, url: user_session_path, local: true do |f|%>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="account-page-wrapper">
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, class: "input" %>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password, placeholder: "半角英数字6文字以上", autocomplete: "off", class: "input" %>
        </div>
        <div class="actions">
          <%= f.submit "ログインする", class: "submit-btn" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="account-page-lower">
    <div class="account-page-lower-left">
      アカウントをお持ちでないですか？
    </div>
    <div class="account-page-lower-right">
      <%= link_to "登録する", new_user_registration_path %>
    </div>
  </div>
  <div class="guest-user-login">
    <%= link_to "ゲストログイン(閲覧用)", contents_guest_sign_in_path, method: :post %>
  </div>
</div>